/*MIXIN*/
@mixin proporcion($altura,$anchura,$margen){
    width: $anchura;
    height: $altura;
    margin: $margen;
}

.accesorios{
    div{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
            div{
                width: 400px;
                height: 300px;
                margin: 40px;
                background-image: url(/imagenes/kateryna-hliznitsova-vbnxgxj6cJg-unsplash-min.jpg);
                background-position: center;
                background-size: cover;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                }
                a{
                font-size: 40px;
                color:#FBEFC6;
            }   
        }
    }
}

.coleccion{
    h2{
        text-align: center;
        font-size: 40px;
    }
    div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        img{
            width: 340px;
            height: 440px;
            margin: 20px;
        }
    }
}
