$color-principal:rgb(241,222,187);
$segundo-color: linear-gradient(90deg, rgba(241,222,187,1) 0%, rgba(254,249,215,1) 35%, rgba(249,236,200,1) 66%, rgba(255,231,188,1) 100%);
$titulo-h1:60px;
$color-fondo: #FBEFC6;